<div class="container">
	<div class="principal-container d-flex align-items-center justify-content-center" style="background-image: url('principal.png');">
		<div class="row justify-content-center text-center text-white">
			<div class="col-7 bienvenida">
				¡Bienvenid@ a Ortu!
			</div>
		</div>		
	</div>
	<div class="card text-center"  style="margin-top: 30px;">
	  <div class="card-header">
	    <ul class="nav nav-tabs card-header-tabs d-flex justify-content-between">
	      <li class="nav-item">
	        <a class="nav-link active" href="#">Publicaciones Recientes</a>
	      </li>
	      <li>
	      	<%= link_to "Ver Publicaciones", posts_path, class: "btn btn-success" %>      	
	      </li>            
	    </ul>
	  </div>
	  <% @posts.each do |post| %>
	  <div class="card-body">
	  	<div class="card-columns">
	  	  <div class="card">
	  	    <img class="card-img-top" src="<%= post.pictures.first.image_url %>" alt="Card image cap">
	  	    <div class="card-body">
	  	      <h5 class="card-title"><%= post.title %></h5>
	  	      <p class="card-text"><%= post.description %></p>
	  	    </div>
	  	  </div>
	            	  
	  	</div>	    
	  </div>
	  <% end %>
	</div>
</div>


	
	
